<div class="flex items-center">
  <img src="portfolio.png" alt="portfolio-photo" class="max-h-screen">
  <div class="ml-[200px] flex flex-col justify-between">
    <div class="fixed top-0 pt-10">
      <ul class="flex text-[18px] text-gray-500 space-x-32">
        <li class="hover:border hover:border-cyan-700 hover:text-cyan-800 px-5 py-2 rounded cursor-pointer">About me</li>
        <li class="hover:border hover:border-cyan-700 hover:text-cyan-800 px-5 py-2 rounded cursor-pointer">Stacks</li>
        <li class="hover:border hover:border-cyan-700 hover:text-cyan-800 px-5 py-2 rounded cursor-pointer">Projects</li>
      </ul>
    </div>
    <div class="">
      <h1 class="abril text-9xl title tracking-tighter">port</h1>
      <h1 class="abril text-9xl title tracking-tighter">folio</h1>
      <p class="text-2xl">Emilly Mello</p>
    </div>
  </div>
</div>
<div class="bg-teal-600 p-7"></div>